@font-face {
	font-family: 'Corbel';
	src: url('../fonts/Corbel.eot');
	src: url('../fonts/Corbel.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Corbel.woff') format('woff'),
		url('../fonts/Corbel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
