@import 'reset.scss';
@import 'fonts.scss';

@mixin placeholder_color($color){
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

*{
  // outline:1px solid red;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.main-wrapper{
  overflow: hidden;
  overflow-y: auto;
  width: calc(100vw + 17px);
  height: 100vh;
  @media (max-width: 991px) {
    width: 100vw;
  }
}

button.btn-dash-pink{
  max-width:100%;
  border-radius:0;
  background: transparent;
}

header.header{
  position: relative;
  overflow:hidden;
  .video-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    .logo-layout {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 30;
      display: flex;
      flex-wrap:nowrap;
      justify-content:space-between;
      ul.award-logo-list {
        position: relative;
        left: 1.6vw;
        margin-bottom: 0;
        li {
          list-style-type:none;
          padding-top: 1.6vw;
          img {
            max-width:100%;
            width: 12.55vw;
          }
        }
        @media (max-width: 510px) {
          display: none;
        }
      }
      h1.main-logo{
        position: relative;
        top: 10px;
        right: 6.2vw;
        @media(max-width: 510px){
          right: auto;
          width: 100%;
          text-align: center;
        }
        a{
          img{
            max-width:100%;
            width: 46.9vw;
            @media(max-width: 510px){
              width: 400px;
            }
            @media(max-width: 375px){
              width: 300px;
            }
          }
        }
      }
    }
    .video-bottom{
      // width: 100vw;
      transition: .2s ease-in-out;
      z-index: 1000;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #08071b;
      &.video-bottom_fixed {
        background: transparent;
        position: fixed;
        // left: 0;
        top: 0;
        bottom: auto;
        // height: 120px;
      }
      .top{
        background: #0c034a;
        color:white;
        @media(min-width: 1201px){
          height: 65px;
        }
        >div{
          height: 100%;
        }
        ul.logo-list{
          display: flex;
          margin: 0;
          @media(max-width:992px){
            margin: 10px 0;
            justify-content:center !important;
          }
          li{
            padding: 0 20px;
            align-self:center;
            @media(max-width:576px){
              padding: 0 5px;
            }
            a{
              display: inline-block;
              img{
                max-width:100%;
              }
            }
          }
          @media (max-width: 991px) {
            width: 40%;
            li {
              padding: 0 5px 0 15px;
            }
          }
          @media (max-width: 510px) {
            width: 100%;
            text-align: center;
            li {
              padding: 0 15px;
            }
          }
        }
        @media (max-width: 991px) {
          .logo-list__company {
            width: 16%;
            position: absolute;
            right: 15px;
            top: -4px;
            ul {
              width: 100%;
            }
            li {
              padding: 0 20px;
            }
          }
        }
        @media (max-width: 510px) {
          .logo-list__company {
            position: relative;
            width: 100%;
            right: auto;
            text-align: center;
            li {
              width: 20%;
            }
          }
        }
        form.newsletter-form{
          .f-item{
            padding: 0 5px;
            @media(max-width:768px){
              padding: 5px;
            }
          }
          input{
            border-radius:0;
            border:0;
            height: 42px;
            // padding-right: 5px;
            // padding-left: 16px;
            padding: 7px 5px 5px 16px;
            font-size: 22px;
            color:#0c034a;
            font-family: 'Corbel';
            width:245px;
            max-width:100%;
            @include placeholder_color(#b0bcec);
            &:focus{
              box-shadow:none;
            }
          }
          button.btn-dash-pink{
            width:245px;
            font-size: 22px;
          }
          button.newsletter-btn{
            background: transparent;
            border:0;
            border-radius:0;
            img{
              max-width: 100%;
            }
          }
        }
      }
      .triangle-down{
        box-sizing: content-box;
        height: 30px;
        overflow: hidden;
        background: url('../images/newsletter-bg.png') bottom center no-repeat;
        background-size: cover;
        @media(max-width:768px){
          height: 20px;
        }
        @media(max-width:576px){
          height: 10px;
        }
        // >div {
        //   width: 0;
        //   height: 0;
        //   border-left: 50vw solid transparent;
        //   border-right: 50vw solid transparent;
        //   border-top: 30px solid #0c034a;
        // }
      }
    }
  }
  #headerVideo{
    position: relative;
    padding: 0 0 76px;
  }
  video.header-video{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }
  @media (max-width: 991px) {
    #headerVideo {
      padding: 0 0 114px;
    }
  }
  @media (max-width: 510px) {
    #headerVideo {
      height: 720px;
    }
    video.header-video {
      position: absolute;
      width: auto;
      top: 0;
      left: calc(50% - 682px);
      height: 480px;
    }
  }
  @media (max-width: 375px) {
    #headerVideo {
      height: 540px;
    }
    video.header-video {
      left: calc(50% - 453px);
      height: 320px;
    }
  }
}

.line-block{
  width: 100%;
  height: 6px;
  background: url("../images/line-bg.png") center center no-repeat;
  background-size: cover;
  margin: 10px 0;
}

section.video-wrap{
  // min-height: 100vh;
  background: #08071b;
  .video-top-block{
    padding: 35px 90px;
    text-align: center;
    @media(max-width: 768px){
      padding: 20px;
    }
    p{
      font-size: 24px;
      color:#7462ba;
      margin-bottom: 0;
      @media(max-width: 768px){
        font-size: 20px;
      }
      &.sub-text{
        padding-top: 5px;
        color:#612e6b;
      }
    }
  }
  .video-main-layer{
    background: url('../images/video-layer-bd.jpg') top center no-repeat;
    padding: 40px 90px 90px;
    @media(max-width:992px){
      background-size:cover;
      padding: 20px 30px 50px;
    }
    @media(max-width:768px){
      padding: 20px;
    }
    @media(max-width:578px){
      padding: 20px 15px;
    }
    >.row{
      margin-right: -37px;
      margin-left: -37px;
      @media(min-width: 993px){
        >[class^=col-]{
          padding-right: 37px;
          padding-left: 37px;
        }
      }
      @media(max-width: 992px){
        margin-right: -25px;
        margin-left: -25px;
        >[class^=col-]{
          padding-right: 30px;
          padding-left: 30px;
        }
      }
      @media(max-width: 768px){
        >[class^=col-]{
          padding-right: 35px;
          padding-left: 35px;
        }
      }
      @media(max-width: 576px){
        margin-right: -10px;
        margin-left: -10px;
        >[class^=col-]{
          padding-right: 15px;
          padding-left: 15px;
        }
      }
    }
    .video-block-border{
      // background-size: 100%;
    }
    .video-block{
      position: relative;
    	padding-bottom: 52.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;
      background: #050417;
      @media(max-width: 992px){
        margin-bottom: 20px;
      }
      &:before,
      &:after{
        position: absolute;
        content: '';
        display: block;
        width: 151px;
        top: -2px;
        bottom: -2px;
        z-index: 50;
      }
      &:before{
        left: -3.8%;
        background:url('../images/video-border-bg-left.png') top left no-repeat;
        background-size: contain;
        @media(max-width: 992px){
          // left: -3.9%;
        }
        @media(max-width: 768px){
          // left: -2.8%;
        }
        @media(max-width: 576px){
          // left: -18px;
        }
      }
      &:after{
        right: -3.8%;
        background: url('../images/video-border-bg-right.png') top right no-repeat;
        background-size: contain;
        @media(max-width: 992px){
          // right: -3.9%;
        }
        @media(max-width: 768px){
          // right: -2.8%;
        }
        @media(max-width: 576px){
          // right: -18px;
        }
      }
      iframe{
        position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
        z-index: 100;
      }
    }
  }

  ul.img-list{
    background: url('../images/list-img-bg-left.jpg') top left no-repeat, url('../images/list-img-bg-right.jpg') top right no-repeat;
    background-color: #0c0b1d;
    background-size: contain;
    padding: 5px;
    display: inline-block;
    max-width: 100%;
    li{
      display: table-cell;
      width: 25%;
      &:not(:last-child){
        a{
          padding-right: 4px;
        }
      }
      a{
        display: inline-block;
        img{
          max-width: 100%;
          opacity: .5;
          @media(min-width:769px){
            &:hover{
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .bottom-text{
    text-align: center;
    padding-top: 70px;
    @media(max-width:992px){
      padding-top: 15px;
    }
    @media(max-width:768px){
      padding-top: 0;
    }
    p{
      font-size: 30px;
      color:#fffffa;
      margin-bottom:0;
      @media(max-width: 992px){
        font-size: 20px;
      }
      @media(max-width: 768px){
        font-size: 20px;
      }
      &.smooth-txt{
        color:#6f5eb3;
        span{
          color:#a08af6;
        }
      }
    }
    button.btn-dash-pink{
      margin: 20px 0;
      padding: 0;
    }

    ul.social-list{
      li{
        display: inline-block;
        padding: 0 6px;
        @media(max-width: 768px){
          padding: 0 15px;
        }
        a{
          display: inline-block;
          width: 44px;
          height: 44px;
          border-radius:50%;
          background: #f16eeb;
          text-align: center;
          i.fa{
            color:#1a1647;
            font-size: 28px;
            line-height: 44px;
          }
        }
      }
    }
  }
}

section.contact-wrap{
  // min-height: 100vh;
  background: #08071b;
  padding-top: 30px;
  @media(max-width:992px){
    padding-top: 10px;
  }
  h3.contact-title{
    font-size: 24px;
    text-transform: uppercase;
    color:#f16eeb;
  }
  form.contact-form{
    padding-top: 10px;
    @media(max-width: 768px){
      padding: 10px 10px 0;
    }
    .form-group{
      margin-bottom: 14px;
      @media(max-width: 768px){
        margin-bottom: 0;
      }
    }
    >.row{
      margin-right: -7px;
      margin-left: -7px;
      >[class^=col-]{
        padding-right: 7px;
        padding-left: 7px;
      }
    }
    .form-control{
      @include placeholder_color(#25224a);
      font-size: 24px;
      padding: 17px 15px;
      border-radius:0;
      background: #3c386d;
      color:#08071b;
      @media(max-width: 768px){
        padding: 10px;
      }
    }
    input{
      @media(max-width: 768px){
        margin-bottom: 10px;
      }
    }
    textarea{
      min-height: 400px;
      @media(max-width: 768px){
        min-height: 200px;
        margin-bottom: 10px;
      }
    }
  }
  button.btn-dash-pink{
    font-size: 30px;
    margin: 6px 0 10px;
    padding: 11px 20px 7px;
  }
  p.copyright{
    font-size: 18px;
    color:#453f90;
    margin: 20px 0;

  }
}

/* modals style */

.modal{
  overflow: auto;
  height: 100%;
  .modal-dialog{
    width: 1640px;
    margin: 0 auto;
    top: 50%;
    max-height: 100%;
    max-width: 100%;
    padding: 55px 75px;
    @media(max-width: 992px){
      padding: 30px 40px;
    }
    .modal-content{
      background-color: transparent;
      border: 0;
      border-radius: 0;
      .close{
        position: absolute;
        right: -55px;
        top: -55px;
        @media(max-width: 992px){
          right: -30px;
          top: -30px;
          img{
            width: 20px;
          }
        }
      }
      .modal-body{
        padding: 0;
      }
    }
  }
  &.fade{
    .modal-dialog{
      transform:translate(0, -75%);
    }
  }
  &.show{
    .modal-dialog{
      transform:translate(0, -50%);
    }
  }
}

/* carousel style */

.carousel{
  .carousel-inner{
    .carousel-item{
      align-items: center;
    }
  }
  .carousel-control-prev,
  .carousel-control-next{
    bottom:auto;
    width: auto;
    top: 50%;
    margin-top: -51px;
    @media(max-width:992px){
      margin-top: -30px;
    }
    img{
      @media(max-width:992px){
        width: 30px;
      }
    }
  }
  .carousel-control-prev{
    left: -75px;
    @media(max-width:992px){
      left: -35px;
    }
  }
  .carousel-control-next{
    right: -75px;
    @media(max-width:992px){
      right: -35px;
    }
  }
}
